CLIENT_URL="http://localhost:5173"
GOOGLE_API_KEY=""
OPENAI_API_KEY=""
SUPABASE_JWKS=""
ENVIRONMENT="development"
PORT=8000
GMAIL_ADDRESS=""
GMAIL_APP_PASSWORD=""
REPORT_RECIPIENT_EMAIL="bodybuddysupport@gmail.com"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_WEBHOOK_SECRET=""
SCHEDULER_SECRET=""
